<!DOCTYPE html>
<html>
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="pull-right">
                <button class="btn btn-link" name="submit" type="submit">
                    Home
                </button>
                <button class="btn btn-link" name="submit" type="submit">
                     Logout
                </button>
            </div>
            <br />
            <br />
            <i> Field with <span class="asteriskField">*</span> are compulsary </i>
            <form method="post" action="" th:object="${var}" id="attestation">
                <p class="comp-title">
                    ATTESTATION
                </p> 
                <br />
                <span class="asteriskField">
                    *
                </span>
                Signature
                <input type="file" name="signature" th:field="*{signature}" id="signature" />
                <label th:if="${#fields.hasErrors('signature')}" th:errors="*{signature}" id="signature-error" class="error" for="signature"></label>

                <span class="asteriskField">
                    *
                </span>
                Stamp
                <input type="file" name="stamp" th:field="*{stamp}" id="stamp" />
                <label th:if="${#fields.hasErrors('stamp')}" th:errors="*{stamp}" id="stamp-error" class="error" for="stamp"></label>
			
                <div class="form-group ">
                    <label class="control-label requiredField" for="name">
                    <br />
                    <br />
                    <span class="asteriskField">
                        *
                    </span>
                    Name
                    </label>
                    <input class="form-control" th:field="*{name}" id="name" name="name" type="text"/>
                    <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" id="name-error" class="error" for="name"></label>
                </div>
                <div class="form-group" id="div_checkbox">
                    <div class=" ">
                        <label class="checkbox-inline">
                             <input name="checkbox" type="checkbox" value="I agree to NSITF Terms and Conditions and certify that the above particulars are correct"/>
                             I agree to NSITF 
                             <a href="#" data-toggle="modal" data-target=""> 
                                 <span class="asteriskField"> 
                                     Terms and Conditions 
                                 </span> 
                             </a> 
                             and certify that the above particulars are correct 
                        </label>
                        <div class="modal fade termsandcondition" tabindex="-1" role="dialog" aria-labelledby="Terms and Conditions">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    ...
                                    <small> Our Terms and Conditions are </small>
                                    <br />
                                    <br />
                                    <p> I confirm that the information I have given is true to the best of my knowledge. I agree to indemnify NSITF for any loss arising from relying on the information I have provided and acknowledge that Penalty may be invoked in accordance with Section 65 of the Employees’ Compensation Act, 2010 where it is found that I have wilfully given incorrect information. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-success " name="submit" type="submit">
                        Next
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>