<!DOCTYPE html>
<html>
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>

<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <div class="pull-right">
                <button class="btn btn-link " name="submit" type="submit">
                     Home
                </button>
                <button class="btn btn-link " name="submit" type="submit">
                     Logout
                </button> 
            </div> 
            <i> Field with 
                <span class="asteriskField">
                    *
                </span> 
                are compulsary 
            </i> 
            <br />
            <br />
            <p class="comp-title">
                OCCUPATION DISEASE
            </p>
            <br />
            <form method="post" action="" th:object="${var}" id="DiseaseNotification2">
                <div class="form-group ">
                    <label class="control-label requiredField" for="workNature">
			<span class="asteriskField">
                             *
                        </span>
                        Nature of Work
                    </label>
                    <input class="form-control" th:field="*{workNature}" id="workNature" name="workNature" type="text"/>
                    <label th:if="${#fields.hasErrors('workNature')}" th:errors="*{workNature}" id="workNature-error" class="error" for="workNature"></label>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="diseaseNature">
                        <span class="asteriskField">
                            *
                        </span>
                        Nature of Disease
                    </label>
                    <input class="form-control" th:field="*{diseaseNature}" id="diseaseNature" name="diseaseNature" type="text"/>
                    <label th:if="${#fields.hasErrors('diseaseNature')}" th:errors="*{diseaseNature}" id="diseaseNature-error" class="error" for="diseaseNature"></label>
                </div>
			 
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="state">
                            <span class="asteriskField">
                                *
                            </span>
                            State
                        </label>
                        <select class="select form-control" th:field="*{state}" id="state" name="state">
                            <option selected="selected" value="">Select an option</option>
                            <option th:each="state : ${states}" th:text="${state.name}" th:value="${state.id}">State</option>
                        </select>
                        <label th:if="${#fields.hasErrors('state')}" th:errors="*{state}" id="state-error" class="error" for="state"></label>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="province">
                            <span class="asteriskField">
                                *
                            </span>
                            Local Government
                        </label>
                        <select class="select form-control" th:field="*{province}" id="province" th:attr="data-name=*{province}">
                            <option selected="selected" value="">Select an option</option>
                            <option th:each="province : ${locals}" th:text="${province.name}" th:value="${province.id}">LGA</option>
                        </select>
                        <label th:if="${#fields.hasErrors('province')}" th:errors="*{province}" id="province-error" class="error" for="province"></label>
                    </div>
                </div>

                <div class="form-group "> 
                    <label class="control-label requiredField" for="codcod">
                        <span class="asteriskField">
                            *
                        </span> 
                        Suspected cause of disease 
                        <small class="small">
                            <i>
                                ( State the agent(s) present in the work place and with which he/she had contact that caused the disease; see list of approved diseases and their responsible agent(s) as contained in the first schedule of the ECA for guidance )
                            </i>
                        </small>
                    </label>
                    <input class="form-control" th:field="*{cod}" id="cod" name="cod" type="text"/>
                    <label th:if="${#fields.hasErrors('cod')}" th:errors="*{cod}" id="cod-error" class="error" for="cod"></label>
                </div>
		<div class="form-group ">
                    <label class="control-label requiredField" for="reportDate">
			<span class="asteriskField">
                             *
                        </span>
                        Date Employee reported the disease
                    </label>
                    <input class="form-control form_date" th:field="*{reportDate}" id="reportDate" name="reportDate" type="text"/>
                    <label th:if="${#fields.hasErrors('reportDate')}" th:errors="*{reportDate}" id="reportDate-error" class="error" for="reportDate"></label>
                </div>
			 
                <div class="row">
                    <div class="form-group col-md-8">
                        <label class="control-label requiredField" for="reportTime">
                            <span class="asteriskField">
                                *
                            </span>
                            Time Employee Reported Disease (hh:mm:(AM/PM))
                        </label>
                        <input class="form-control form_time" th:field="*{reportTime}" id="reportTime" name="reportTime" type="text"/>
                        <label th:if="${#fields.hasErrors('reportTime')}" th:errors="*{reportTime}" id="reportTime-error" class="error" for="reportTime"></label>
                    </div>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="diagnosisDate">
			<span class="asteriskField">
                            *
                        </span>
                        Date Disease was Diagnosed
                    </label>
                    <input class="form-control form_date" th:field="*{diagnosisDate}" id="diagnosisDate" name="diagnosisDate" type="text"/>
                    <label th:if="${#fields.hasErrors('diagnosisDate')}" th:errors="*{diagnosisDate}" id="diagnosisDate-error" class="error" for="diagnosisDate"></label>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="length">
                    <span class="asteriskField">
                        *
                    </span>
                    Length of Disease Exposure (In months)
                    </label>
                    <input class="form-control" th:field="*{length}" id="length" name="length" type="number" min="0" max="24" />
                    <label th:if="${#fields.hasErrors('length')}" th:errors="*{length}" id="length-error" class="error" for="length"></label>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="ceaseDate">
                        <span class="asteriskField">
                              *
                        </span>
                        Date on which employee ceased work due to injury/occupational disease
                    </label>
                    <input class="form-control form_date" th:field="*{ceaseDate}" id="ceaseDate" name="ceaseDate" type="text"/>
                    <label th:if="${#fields.hasErrors('ceaseDate')}" th:errors="*{ceaseDate}" id="ceaseDate-error" class="error" for="ceaseDate"></label>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="resumeDate">
                        <span class="asteriskField">
                            *
                        </span>
                        Date on which the employee resumed work?
                    </label>
                    <input class="form-control form_date" th:field="*{resumeDate}" id="resumeDate" name="resumeDate" type="text"/>
                    <label th:if="${#fields.hasErrors('resumeDate')}" th:errors="*{resumeDate}" id="resumeDate-error" class="error" for="resumeDate"></label>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="numDay">
                        <span class="asteriskField">
                            *
                        </span>
                        Number of days per month worked by Employee
                    </label>
                    <input class="form-control" th:field="*{numDay}" id="numDay" name="numDay" type="number" min="0" max="31"/>
                    <label th:if="${#fields.hasErrors('numDay')}" th:errors="*{numDay}" id="numDay-error" class="error" for="numDay"></label>
                </div>
			 
                <div class="form-group" id="div_radio3">
                    <label class="control-label requiredField" for="radio3">
                        <span class="asteriskField">
                            *
                        </span>
                        Did the Employee die in the accident?
                    </label>
                    <div class="">
                        <label class="radio-inline">
                        <input name="radio3" type="radio" value="Yes"/>
                            Yes
                        </label>
                        <label class="radio-inline">
                        <input name="radio3" type="radio" value="No"/>
                            No
                        </label>
                    </div>
                </div>
                <br />
			 
                <span>
                    Medical Practitioner who treated Employee 
                </span>
                <br />
                <br /> 
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="fname">
                            <span class="asteriskField">
				*
                            </span>
                            First Name
                        </label>
                        <input class="form-control" th:field="*{medicFirstName}" id="medicFirstName" name="medicFirstName" type="text"/>
                        <label th:if="${#fields.hasErrors('medicFirstName')}" th:errors="*{medicFirstName}" id="medicFirstName-error" class="error" for="medicFirstName"></label>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="medicLastName">
                            <span class="asteriskField">
				*
                            </span>
                            Last Name
                        </label>
                        <input class="form-control" th:field="*{medicLastName}" id="medicLastName" name="medicLastName" type="text"/>
                        <label th:if="${#fields.hasErrors('medicLastName')}" th:errors="*{medicLastName}" id="medicLastName-error" class="error" for="medicLastName"></label>
                    </div>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="practiceNumber">
                        <span class="asteriskField">
                            *
                        </span>
                        Practice Number
                    </label>
                    <input class="form-control" th:field="*{practiceNumber}" id="practiceNumber" name="practiceNumber" type="text"/>
                    <label th:if="${#fields.hasErrors('practiceNumber')}" th:errors="*{practiceNumber}" id="practiceNumber-error" class="error" for="practiceNumber"></label>
                </div>
                <br />

                <p class="comp-title"> REGISTERED DEPENDANT IF ANY </p>
                <br />
			 
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="kinFirstName">
                            <span class="asteriskField">
				*
                            </span>
                            Next of Kin First Name
                        </label>
                        <input class="form-control" th:field="*{kinFirstName}" id="kinFirstName" name="kinFirstName" type="text"/>
                        <label th:if="${#fields.hasErrors('kinFirstName')}" th:errors="*{kinFirstName}" id="kinFirstName-error" class="error" for="kinFirstName"></label>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="kinLastName">
                            <span class="asteriskField">
                                 *
                            </span>
                            Next of Kin Last Name
                        </label>
                        <input class="form-control" th:field="*{kinLastName}" id="kinLastName" name="kinLastName" type="text"/>
                        <label th:if="${#fields.hasErrors('kinLastName')}" th:errors="*{kinLastName}" id="kinLastName-error" class="error" for="kinLastName"></label>
                    </div>
                </div>
			 
                <span class="asteriskField"> 
                    <i> 
                        Specify at least one dependant
                    </i>
                </span>
                <br /> 
                <br /> 
			 
                <p class="dependant"> 
                    <span class="asteriskField">
                        *
                    </span> 
                    DEPENDANT 1 
                </p>
                <br />
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="dFirstName">
                        <span class="asteriskField">
                            *
                        </span>
                        First Name
                    </label>
                    <input class="form-control" th:field="*{dFirstName}" id="dFirstName" name="dFirstName" type="text"/>
                    <label th:if="${#fields.hasErrors('dFirstName')}" th:errors="*{dFirstName}" id="dFirstName-error" class="error" for="dFirstName"></label>
                </div>
			 
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="dMiddleName">
                            Middle Name
                        </label>
                        <input class="form-control" id="dMiddleName" name="dMiddleName" type="text"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="dLastName">
                            <span class="asteriskField">
				*
                            </span>
                            Last Name
                        </label>
                        <input class="form-control" th:field="*{dLastName}" id="dLastName" name="dLastName" type="text"/>
                        <label th:if="${#fields.hasErrors('dLastName')}" th:errors="*{dLastName}" id="dLastName-error" class="error" for="dLastName"></label>
                    </div>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="dDob">
                        <span class="asteriskField">
                            *
                        </span>
                        Date of Birth
                    </label>
                    <input class="form-control form_date" th:field="*{dDob}" id="dDob" name="dDob" type="text"/>
                    <label th:if="${#fields.hasErrors('dDob')}" th:errors="*{dDob}" id="dDob-error" class="error" for="dDob"></label>
                </div>
                
		<br />
                <p class="dependant">
                    DEPENDANT 2 
                </p>
                <br />
			 
                <div class="form-group ">
                    <label class="control-label " for="dFirstName2">
                        First Name
                    </label>
                    <input class="form-control" th:field="*{dFirstName2}" id="dFirstName2" name="dFirstName2" type="text"/>
                    <label th:if="${#fields.hasErrors('dFirstName2')}" th:errors="*{dFirstName2}" id="dFirstName2-error" class="error" for="dFirstName2"></label>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="dMiddleName2">
                         Middle Name
                        </label>
                        <input class="form-control" id="dMiddleName2" name="dMiddleName2" type="text"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="dLastName2">
                            <span class="asteriskField">
				*
                            </span>
                            Last Name
                        </label>
                        <input class="form-control" th:field="*{dLastName2}" id="dLastName2" name="dLastName2" type="text"/>
                        <label th:if="${#fields.hasErrors('dLastName2')}" th:errors="*{dLastName2}" id="dLastName2-error" class="error" for="dLastName2"></label>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="control-label " for="dDob2">
                     Date of Birth
                    </label>
                    <input class="form-control form_date" th:field="*{dDob2}" id="dDob2" name="dDob2" type="text"/>
                    <label th:if="${#fields.hasErrors('dDob2')}" th:errors="*{dDob2}" id="dDob2-error" class="error" for="dDob2"></label>
                </div>
                
		<br />
                <p class="dependant"> 
                    DEPENDANT 3 
                </p>
                <br />
			 
                <div class="form-group ">
                    <label class="control-label " for="dFirstName3">
                        First Name
                    </label>
                    <input class="form-control" th:field="*{dFirstName3}" id="dFirstName3" name="dFirstName3" type="text"/>
                    <label th:if="${#fields.hasErrors('dFirstName3')}" th:errors="*{dFirstName3}" id="dFirstName3-error" class="error" for="dFirstName3"></label>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="dMiddleName3">
			   Middle Name
                        </label>
                        <input class="form-control" id="dMiddleName3" name="dMiddleName3" type="text"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="dLastName3">
			   Last Name
                        </label>
                        <input class="form-control" th:field="*{dLastName3}" id="dLastName3" name="dLastName3" type="text"/>
                        <label th:if="${#fields.hasErrors('dLastName3')}" th:errors="*{dLastName3}" id="dLastName3-error" class="error" for="dLastName3"></label>
                    </div>
                </div>
			 
                <div class="form-group ">
                    <label class="control-label " for="dDob3">
                        Date of Birth
                    </label>
                    <input class="form-control form_date" th:field="*{dDob3}" id="dDob3" name="dDob3" type="text"/>
                    <label th:if="${#fields.hasErrors('dDob3')}" th:errors="*{dDob3}" id="dDob3-error" class="error" for="dDob3"></label>
                </div>
                	
		<br />
                <p class="dependant">
                    DEPENDANT 4
                </p>
                <br />
			 
                <div class="form-group ">
                    <label class="control-label " for="dFirstName4">
                        First Name
                    </label>
                    <input class="form-control" th:field="*{dFirstName4}" id="dFirstName4" name="dFirstName4" type="text"/>
                    <label th:if="${#fields.hasErrors('dFirstName4')}" th:errors="*{dFirstName4}" id="dFirstName4-error" class="error" for="dFirstName4"></label>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="dMiddleName4">
                            Middle Name
                        </label>
                        <input class="form-control" th:field="*{dMiddleName4}" id="dMiddleName4" name="dMiddleName4" type="text"/>
                        <label th:if="${#fields.hasErrors('dMiddleName4')}" th:errors="*{dMiddleName4}" id="dMiddleName4-error" class="error" for="dMiddleName4"></label>
                   </div>
                   <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="dLastName4">
                            Last Name
                        </label>
                        <input class="form-control" th:field="*{dLastName4}" id="dLastName4" name="dLastName4" type="text"/>
                        <label th:if="${#fields.hasErrors('dLastName4')}" th:errors="*{dLastName4}" id="dLastName4-error" class="error" for="dLastName4"></label>
                   </div>
               </div>
                <div class="form-group ">
                    <label class="control-label " for="dDob4">
                        Date of Birth
                    </label>
                    <input class="form-control form_date" th:field="*{dDob4}" id="dDob4" name="dDob4" type="text"/>
                    <label th:if="${#fields.hasErrors('dDob4')}" th:errors="*{dDob4}" id="dDob4-error" class="error" for="dDob4"></label>
                </div> 
                <br />
                <div class="form-group">
                    <div class="pull-right">
                        <button class="btn btn-success " name="submit" type="submit">
                             Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
 
</body>
</html>