<!DOCTYPE html>
<html>
<head>
     <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>

<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <small> 
                <i> Fields with 
                    <span class="asteriskField">
                        *
                    </span> 
                    are compulsary 
                </i> 
            </small>
            <div class="pull-right">
                <button class="btn btn-default " name="submit" type="submit">
                    Logout
                </button>
            </div> 
            <br />
            <br />

            <p class="comp-title">
                EMPLOYEE 
            </p> 
            <br />

            <form method="post" action="" th:object="${var}"  id="EmployeeDetails">

                <div class="form-group ">
                    <label class="control-label requiredField" for="fname">
                        <span class="asteriskField">
                            *
                        </span>
                        First Name
                    </label>
                    <input th:field="*{firstName}" class="form-control" id="firstName" type="text"/>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="mname">
                            Middle Name
                        </label>
                        <input class="form-control " id="mname" name="mname" type="text"/>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="Lname">
                            <span class="asteriskField">
                                 *
                            </span>
                            Last Name
                        </label>
                    <input th:field="*{lastName}" class="form-control" id="lastName" type="text"/>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="EmpID">
                            NSITF Employee ID
                        </label>
                        <input class="form-control" id="EmpID" name="EmpID" type="text"/>
                        <input th:field="*{employeeId}" class="form-control" id="employeeId" type="text"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="staffID">
                            <span class="asteriskField">
                                *
                            </span>
                            Staff ID
                        </label>
                        <input th:field="*{staffID}" class="form-control" id="staffId" type="text"/>
                    </div>
                </div> 

                <div class="form-group ">
                    <label class="control-label requiredField" for="Earnings">
                        <span class="asteriskField">
                             *
                        </span>
                        Earnings of employee at the times of accident (&#8358;)
                    </label>
                    <input th:field="*{earnings}" class="form-control" id="earnings" type="text"/>
                </div> 
                <br />

                <span class="asteriskField">
                    *
                </span> Period in your employment <br /><br />

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="yrs">
                            Years (yrs)
                        </label>
                        <input th:field="*{years}" class="form-control" id="years" type="number" min="0" max="34" />
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="months">
                            Months (months)
                        </label>
                        <input th:field="*{months}" class="form-control" id="months" type="number" min="0" max="12" />
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button class="btn btn-success " name="submit" type="submit">
                        Next
                    </button>
                </div>
            </form>
        </div>		
    </div>
</body>
</html>