<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>page</title>
    
    <!-- Look of this document is driven by a CSS referenced by an href attribute. See http://www.w3.org/TR/xml-stylesheet/ -->
    <link href="../static/css/bootstrap/bootstrap.min.css" 
        th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <link href="../static/css/Newstyles.css" 
        th:href="@{/css/Newstyles.css}" rel="stylesheet" media="screen" /> 
    <link href="../static/css/bootstrap-datetimepicker.min.css" 
        th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" media="screen" />
    <script src="/js/jquery.min.js"
        th:href="@{/js/jquery.min.js}"></script>
    <script src="/js/jquery.validate.min.js"
        th:href="@{/js/jquery.validate.min.js}"></script>
    <script src="/js/home.validate.js"
        th:href="@{/js/home.validate.js}"></script>
    <script src="/js/script.js"
        th:href="@{/js/script.js}"></script>
    <script src="/js/date-time.js"
        th:href="@{/js/date-time.js}"></script>
    <script src="/js/jquery.tabledit.js"
        th:href="@{/js/jquery.tabledit.js}"></script>
    <script src="/js/bootstrap.min.js"
        th:href="@{/js/bootstrap.min.js}"></script>
    <script src="/js/popover.js"
        th:href="@{/js/popover.js}"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"
        th:href="@{/js/bootstrap-datetimepicker.min.js}"></script>
    
        
</head>
<body>
    
</body>
</html>
