<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="headinc">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>page</title>
    
    <!-- Look of this document is driven by a CSS referenced by an href attribute. See http://www.w3.org/TR/xml-stylesheet/ -->
    <link href="../static/css/bootstrap/bootstrap.min.css" 
        th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <link href="../static/css/style.css" 
        th:href="@{/css/style.css}" rel="stylesheet" media="screen" /> 
    <link href="../static/css/style2.css" 
        th:href="@{/css/style2.css}" rel="stylesheet" media="screen" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery.validate.min.js"
        th:href="@{/js/jquery.validate.min.js}"></script>
    <script src="/js/home.validate.js"
        th:href="@{/js/home.validate.js}"></script>
</head>
<body>
    
</body>
</html>