.nav > li{
  border-bottom:1px solid #eee;
}

.nav li.active a, .nav > li.active > a:hover, .nav > li.active > a:focus{
  background:#eee;
  color:#238C00;
  border-right:4px solid #238C00;
}

.nav li.active{
  border:none;
}

body{
  padding-top:150px;
}

ul.nav.nav-pills.nav-stacked > li{
}

nav.navbar.navbar-default.navbar-fixed-top{
  background:rgba(35, 140, 0, 0.8);
}

nav.navbar.navbar-default.navbar-fixed-top{
  height:80px;
}

a.navbar-brand.navbar-link{
  border-bottom-style:solid;
}

.nav > li > a{
  color:#aaa;
}

.nav > li > a:hover{
  background:inherit;
}

.nav > li{
  border-right:4px solid #EEE;
}

.nav > li + li{
  border-radius:0px;
  margin:0px;
}

label.error {
    background: #EED3D7;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    font-size: 12px;
    color: red;
    margin: 1em 0;
}
.table > thead{
  border: none;
}
.table > thead > tr th{
  border:none;
  padding: 20px 15px;
}
.table > tbody > tr:not(:last-child) th, .table > tbody > tr:not(:last-child) td{
  border-top: none;
  border-bottom: 1px solid #eee;
}
.table > tbody > tr th, .table > tbody > tr >td{
  padding:15px;
}
.table > tbody > tr >th{
  min-width: 50%;
}
.table > tbody > tr > th{
  color: #666;
}
@media(max-width:992px){
    .affix{
        position: relative;
    }
}
