a.text-lowercase{
}

.nav li.active a{
  background:white;
  color:#4fa333;
}

.nav li.active{
  border:none;
}

body{
  padding-top:100px;
}

nav.navbar.navbar-default.navbar-fixed-top{
  background:rgba(79, 163, 51, .5);
  text-align:centre;
  
}
.navbar-toggle {
	color: white;
	text-align:center;
}