<!DOCTYPE html>
<html>

<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>

<body>
    <div class="container">
         <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <div class="pull-right">
                <button class="btn btn-link" name="submit" type="submit">
                     Home
                </button>
                <button class="btn btn-link" name="submit" type="submit">
                     Logout
                </button> 
            </div> 
            <br /> 
            <br />
            <p class="comp-title"> 
                ATTACHMENTS &nbsp; &nbsp; &nbsp; 
                <small>
                    *UPLOAD AS IMAGE (PNG, JPG, JPEG) OR PDF
                </small> 
            </P>
            <br />
            <form method="post" action="/fourth-page" id="attachments4">
                <div class="form-group" id="div_radio">
                    <label class="control-label requiredField" for="radio">
                        Is It a traffic accident(Road, Sea or Air)?
                    </label>
                    <div class="" >
                        <label class="radio-inline">
                        <input name="radio" type="radio" value="Yes"/>
                            Yes
                        </label>
                        <label class="radio-inline">
                        <input name="radio" type="radio" value="No"/>
                            No
                        </label>
                    </div>
                </div>
			 
                Upload receipt for treaments from treatment
                <br />
                <br />
                <input type="file" name="fileToUpload1" id="fileToUpload1">
                <br />
			 
                Upload Detail of all bills which must be signed by each professional/Specialist with his practicing license number.
                <br />
                <br />
                <input type="file" name="fileToUpload2" id="fileToUpload2">
                <br />
			 
                Upload Affidavit deposed to by employee to confirm accident or occupational disease
                <br />
                <br />
                <input type="file" name="fileToUpload" id="fileToUpload">
                <br />
			 
                Upload Police report
                <br />
                <br />
                <input type="file" name="fileToUpload3" id="fileToUpload3">
                <br />
			 
                <div class="form-group">
                    <div class="pull-right">
                        <button class="btn btn-success " name="submit" type="submit">
                            Back
                        </button>
                        <button class="btn btn-success " name="submit" type="submit">
                            Next
                        </button>
                    </div>
                </div>
			 
            </form>
        </div>
    </div>
</body>
</html>