<!DOCTYPE html>
<html>
<head>
   <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>

<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-lg-8 col-md- col-sm-8 col-xs-12">
            <div class="pull-right">
                <button class="btn btn-link" name="submit" type="submit">
                    Home
                </button>
                <button class="btn btn-link" name="submit" type="submit">
                    Logout
                </button>
            </div>
            <small> 
                <i> 
                    Fields with 
                    <span class="asteriskField">
                        *
                    </span> 
                    are compulsary 
                </i> 
            </small>
            <br /> 
            <br />
            <p class="comp-title"> 
                BANK DETAILS OF ELIGIBLE PERSON(S)
            </p>
            <br />
            <form method="post" action="/fifth-page" id="bankDetails5">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="bankName">
                            Bank Name
                            <span class="asteriskField">
                                 *
                            </span>
                        </label>
                        <input class="form-control" id="bankName" name="bankName" type="text"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="accName">
                            Account Name
                            <span class="asteriskField">
                                 *
                            </span>
                        </label>
                        <input class="form-control" id="accName" name="accName" type="text"/>
                    </div>
                </div>
			 
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="accNumber">
                            Account Number
                            <span class="asteriskField">
                                 *
                            </span>
                        </label>
                     <input class="form-control" id="accNumber" name="accNumber" type="text"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <label class="control-label requiredField" for="sortCode">
                        Sort Code
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <input class="form-control" id="sortCode" name="sortCode" type="text"/>
                    </div>
                </div>
			 
                <p class="comp-title"> ATTESTATION </p>
			 
                <br />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        Signature
                        <input type="file" name="fileToUpload" id="fileToUpload">
                    </div>
			 
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        Stamp
                        <input type="file" name="fileToUpload1" id="fileToUpload1">
                    </div>
                </div>
                <br />
                <br />
			 
                <div class="form-group ">
                    Compensation in accordance with the ECA, 2010 is hereby claimed in respect of the injury/Disease/Death described above. I certify that the information in this form is to the best of my knowledge, correct.
			<div class=" ">
                            <div class="checkbox" id="tandc">
				<label class="checkbox">
                                    <input name="checkbox" type="checkbox" value=" I agree to NSITF Terms and Conditions and certify that the above particulars are correct"/>
                                    I agree to NSITF <a href="#"> <span class="asteriskField"> Terms and Conditions <span> </a> and certify that the above particulars are correct
				</label>
                            </div>
                        </div>
                </div>
                <div class="form-group">
                <br />
                    <div class="pull-right">
                        <button class="btn btn-success " name="submit" type="submit">
                            Back
                        </button>
                        <button class="btn btn-success " name="submit" type="submit">
                            Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>