<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->		
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="dependant"> REGISTRATION PREVIEW  
                <button class="btn btn-link pull-right" name="submit" type="submit"> 
                    Logout 
                </button> 
            </p> 
            <br />

            <p class="comp-title"> 
                Particulars for business (for MDAs, public and private companies) 
                <button class="btn btn-link pull-right" name="submit" type="submit">
                    Edit 
                </button> 
            </p>
            <form method="post" action="" id="ECSfirst">
            </form>
        </div>
    </div>
</body>
</html>