<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->		
        <div class="col-md-6 col-sm-6 col-xs-12">
            <button class="btn btn-link pull-right" name="submit" type="submit">
                Home
            </button> 
            <br /> 
            <br />

            <p class="comp-title"> 
                SELECT THE NOTIFICATION TYPE 
            </p>
            <br />
            <br />
            <form method="post">
                <div class="form-group" id="div_radio">
                    <div class="">
                        <label class="radio-inline">
                            <input id="claim" type="radio" name="claim" value="accident"/>
                            Notification for accidents
                        </label>
                        <label class="radio-inline">
                            <input id="claim" type="radio" name="claim" value="occupational-disease"/>
                             Notification for Occupational diseases
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>