<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->		
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="pull-right">
            <a class="btn btn-link" href="/ecs/search" name="submit" type="submit">
                   search 
                </a>
            <button class="btn btn-link pull-right" name="submit" type="submit"> 
                Logout 
            </button> 
            </div>
            <p class="dependant"> 
                REGISTRATION PREVIEW  
            </p> 
            <br />

            <p class="comp-title pull-right"> 
                Particulars for business (for MDAs, public and private companies) 
                <button class="btn btn-link " name="submit" type="submit">
                    Edit 
                </button> 
                
            </p>
            <form method="post" action="" id="ECSfirst">
                <table class="table table-condensed" id="my-table">
                   
                    <tbody>
                        <tr class="hidden">
                            <th class="text-uppercase">company name</th>
                            <td class="text-uppercase edit-field" th:text="${vars.id}"></td>    
                        </tr>
                        <tr>
                            <th class="text-uppercase">company name</th>
                            <td class="text-uppercase edit-field" th:text="${vars.name}"></td>    
                        </tr>
                        <tr>
                            <th class="text-uppercase">incorporation number</th>
                            <td class="text-uppercase edit-field" th:text="${vars.rc_number}"></td>
                        </tr>
                        <tr>
                            <th class="text-uppercase">e-mail</th>
                            <td class="text-uppercase edit-field" th:text="${vars.email}"></td>
                        </tr>
                        <tr>
                            <th class="text-uppercase">mobile number</th>
                            <td class="text-uppercase edit-field" th:text="${vars.mobile_number}"></td>
                        </tr>
                        <tr>
                            <th class="text-uppercase">state</th>
                            <td class="text-uppercase edit-field" th:text="${vars.state}"></td>
                        </tr>
                        <tr>
                            <th class="text-uppercase">local government</th>
                            <td class="text-uppercase edit-field" th:text="${vars.province}"></td>
                        </tr>
                        <tr>
                            <th class="text-uppercase">house number</th>
                            <td class="text-uppercase edit-field" th:text="${vars.block_no}"></td>
                        </tr>
                        <tr>
                            <th class="text-uppercase">street name</th>
                            <td class="text-uppercase edit-field" th:text="${vars.street_address}"></td>
                        </tr>
                        <tr>
                            <th class="text-uppercase">owner</th>
                            <td class="text-uppercase edit-field" th:text="${vars.owner}"></td>
                        </tr>
                        <tr>
                            <th class="text-uppercase">position</th>
                            <td class="text-uppercase edit-field" th:text="${vars.position}"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    
    <script>
        $('#my-table').Tabledit({
            columns: {
              identifier: [0, 'id'],                    
              editable: [[1, 'name'], 
                         [2, 'rc_number'], 
                         [3, 'email'], 
                         [4, 'mobile_number'], 
                         [5, 'state'], 
                         [6, 'province'],
                         [7, 'block_no'], 
                         [8, 'street_address'],
                         [9, 'owner'], 
                         [10, 'position']
                        ]
            },
            
            url: '/account/update'
            });
    </script>
</body>
</html> 