<!DOCTYPE html>
<html>
<head>
   <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
	<div class="col-lg-7 col-md-7 col-md-offset-0">
            <p class="comp-title"> PASSWORD RECOVERY 
                <small> 
                    <i> 
                        (Please Enter Email Address to Recover Password) 
                    </i> 
                </small> 
            </p>
            <br />
            <br />
            <form method="post">
                <div class="form-group ">
                    <label class="control-label " for="email">
                        Email
                    </label>
                    <input class="form-control" id="email" name="email" type="email"/>
                </div>
		<br />	 
                <div class="form-group pull-right">
                    <button class="btn btn-success " name="submit" type="submit">
                        Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>