<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->		
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form method="post" th:action="@{/ecs/subscription}">
                <div class="form-group ">
                    <label class="control-label " for="number">
                        Employee's Annual Salary
                    </label>
                    <input class="form-control" id="number" name="number" type="text" />
                </div> 
                Upload New Employee's List 
                <br />
		<span class="asteriskField"> 
                    * upload as csv file. file should be in the format (id, employee_name, salary) 
                </span>
		<br />
                <br />
                <input type="file" name="fileToUpload" id="fileToUpload" />
                <br />
                <br />
                <div class="form-group">
                    <div>
                        <button class="btn btn-success " name="submit" type="submit">
                             Make Subscription
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>