<!DOCTYPE html>
<html>
<head>
     <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-lg-7 col-md-7 col-md-offset-0">
            <p class="comp-title">
                ECS LOGIN 
                <small> 
                    <i> 
                        (Please Enter Your ECS Code here) 
                    </i> 
                </small> 
            </p>
            <br />
            <br />
            <form method="post" th:object="${vars}" action="">
                <div th:if="${error != null}" class="alert alert-danger">
                    <p> Invalid Username and/or Password </p>
                </div>
                <div class="form-group" th:class="form-group">
                    <label class="control-label " for="username">
                       Username
                    </label>
                    <input class="form-control" id="username" th:field="*{username}" type="text"/>
                </div>
                <br /> 
                <div class="form-group" th:class="form-group">
                    <label class="control-label " for="password">
                       Password
                    </label>
                    <input class="form-control" id="Password" th:field="*{password}" type="text"/>
                </div>
                <span class="pull-right"> <a href="/ecs/reset"> <i> Forgot your password? </i> </a> </span> <br /><br />
                <div class="form-group pull-right">
                    <button class="btn btn-success" name="submit" type="submit">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>