<!DOCTYPE html>
<html>

<head>
  <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->  
</head>

<body>
    
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->	
        <div class="bootstrap-iso">
            
            <div class="container-fluid">  
                <div class="col-lg-7 col-md-7 col-md-offset-0">
                    
                    <div class="pull-right">
                    </div>
                    <p class="comp-title"> HOMEPAGE </p>
                    <br /><br />
                                        Welcome
                </div>
            </div>
        </div>
    </div>


</body>

</html>