<!DOCTYPE html>
<html>

<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
    <div class="col-lg-7 col-md-7 col-sm-12">
        <form method="post" th:action="@{/account/fifth-page}" th:object="${staffInfo}" id="registration-form" enctype="multipart/form-data">
        <div class="row">
         <div class="form-group col-lg-6 col-md-6 col-sm-6" id="FName">
          <label class="control-label requiredField" for="name">
           First Name
           <span class="asteriskField">
                *
           </span>
          </label>
          <input type="text" th:field="*{firstName}" id="first-name" class="form-control" />
          <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" id="firstName-error" class="error" for="firstName"></label>
         </div>
         <div class="form-group col-lg-6 col-md-6 col-sm-6" id="OtherN">
          <label class="control-label requiredField" for="name1">
           Other Names
           <span class="asteriskField">
                *
           </span>
          </label>
          <input type="text" th:field="*{otherName}" id="other-name" class="form-control" />
          <label th:if="${#fields.hasErrors('otherName')}" th:errors="*{otherName}" id="otherName-error" class="error" for="otherName"></label>
         </div>
         </div>
         
         <div class="row">
         <div class="form-group col-lg-6 col-md-6 col-sm-6" id="PSTN">
          <label class="control-label requiredField" for="Position">
           Position
           <span class="asteriskField">
                *
           </span>
          </label>
          <input type="text" th:field="*{position}" id="position" class="form-control" />
          <label th:if="${#fields.hasErrors('position')}" th:errors="*{position}" id="position-error" class="error" for="position"></label>
         </div>
         <div class="form-group col-lg-6 col-md-6 col-sm-6" id="SID">
          <label class="control-label requiredField" for="StaffID">
           Staff ID
           <span class="asteriskField">
                *
           </span>
          </label>
          <input type="text" th:field="*{staffID}" id="StaffID" class="form-control" />
          <label th:if="${#fields.hasErrors('staffID')}" th:errors="*{staffID}" id="staffID-error" class="error" for="staffID"></label>
         </div>
         </div>    
             
         <div class="form-group">
          <!-- <label class="control-label requiredField">
           Check all that apply
           <span class="asteriskField">
                *
           </span>
          </label> -->
          <div class="row">
          <div id="sign col-lg-6 col-md-6 col-sm-6">
           Signature
           <span class="asteriskField">
                *
           </span>
            <input type="file" name="images" id="signature" />
            <span class="help-block" id="hint_name">
           *Minimum 200*200px <br /> *Maximum size 200kb <br /> *Supports only JPEG, PNG and GIF
          </span>
          </div>

          <div id="offstamp col-lg-6 col-md-6 col-sm-6">
          Official stamp
           <span class="asteriskField">
                *
           </span>
           <input type="file" name="images" id="stamp" />
           <span class="help-block" id="hint_name">
           *Minimum 200*200px <br /> *Maximum size 200kb <br /> *Supports only JPEG, PNG and GIF
          </span>
          </div>
          </div>
          <br />
          <br />
          <div class="">
           <div class="checkbox">
                <label>
                    <input th:field="*{agreement}" type="checkbox" value="I agree" />
                    I agree to NSITF Terms and Conditions and certify that the above particulars are correct
                </label>
           </div>
          </div>
        </div>
        <div class="form-group">
            <div class="pull-right">

                <span id="Buttons"> 
                      <a class="btn btn-success" href="/account/fourth-page">
                          Back
                      </a>

                      <button class="btn btn-success" name="Next" type="submit">
                           Next
                      </button> 
                </span>
            </div>
         </div>
        </form>
    </div>
</div>
</body>
</html>
