<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->	
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form method="post" th:action="@{/account/second-page}" th:object="${emulment}" id="registration-form">
             <div class="form-group">
              <label class="control-label requiredField" for="Emoulment">
               Total Staff Emolument ('&#8358;')
               <span class="text-danger">
                    *
               </span>
              </label>
              <input th:field="*{staffEmulment}" class="form-control currency" id="staffEmulment" type="number" min="100" />
             </div>
             <div class="form-group">
                <div class="pull-right">
                    <a class="btn btn-success" href="/account/">
                        Back
                    </a>
                    <button class="btn btn-success" type="submit">
                        Next
                    </button>
                </div>
             </div>
            </form>
        </div>
     </div>
</body>
</html>