<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->	
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form method="post" th:action="@{/account/second-page}" th:object="${emulment}" id="registration-form">
             <div class="form-group">
              <label class="control-label requiredField" for="Emoulment">
               Total Staff Emolument ('&#8358;')
               <span class="text-danger">
                    *
               </span>
              </label>
              <input th:field="*{staffEmulment}" class="form-control" id="staffEmulment" type="number"/>
             </div>
             <div class="form-group">
              <div>
               <button class="btn btn-primary" name="submit" type="Next">
                    Next
               </button>
              </div>
             </div>
            </form>
        </div>
     </div>
</body>
</html>