<!DOCTYPE html>
<html>

<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>

<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <br />
            <br />
            <div class="pull-right">
                <button class="btn btn-link" name="submit" type="submit">
                    Home
                </button>
                <button class="btn btn-link" name="submit" type="submit">
                    Logout
                </button> 
            </div> 
            <br /> 
            <br />
            <p class="comp-title"> 
                HEALTH STATUS 
            </P>
            <br />
            <form method="post" action="/second-page" id="healthStatus2">
                <div class="form-group" id="div_radio">
                    <label class="control-label " for="radio">
                        Have you enjoyed any First Aid Treatment?
                    </label>
                    <div class="">
                        <label class="radio-inline">
                            <input name="radio" type="radio" value="Yes"/>
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input name="radio" type="radio" value="No"/>
                            No
                        </label>
                    </div>
                </div>
                <br />
                <div class="form-group ">
                    <label class="control-label requiredField" for="dateofinjury">
                        Date on which the injury/disease/death was reported to the Employer
                    </label>
                    <input class="form-control" id="dateofinjury" name="dateofinjury" type="text"/>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="dateoftreat">
                        Date of first treatment
                    </label>
                    <input class="form-control" id="dateoftreat" name="dateoftreat" type="text"/>
                </div>
                <br />
                <p class="comp-title"> 
                    HEALTH PROVIDER 
                </p>
                <br />
                <div class="form-group ">
                    <label class="control-label requiredField" for="Hospital">
                        Hospital
                    </label>
                    <input class="form-control" id="Hospital" name="Hospital" type="text"/>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="HouseNumber">
                        House Number
                    </label>
                    <input class="form-control" id="HouseNumber" name="HouseNumber" type="text"/>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="StreetNumber">
                        Street Number
                    </label>
                    <input class="form-control" id="StreetNumber" name="StreetNumber" type="text"/>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="State">
                        State
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <select class="select form-control" id="State" name="State">
                        <option selected="selected" value="">
                        </option>
                        <option value="Ibadan">
                             Ibadan
                        </option>
                        <option value="Lagos">
                             Lagos
                        </option>
                    </select>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="LGA">
                        Local Government
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <select class="select form-control" id="LGA" name="LGA">
                        <option selected="selected" value="">
                        </option>
                        <option value="Surulere">
                            Surulere
                        </option>
                        <option value="Eti-Osa">
                            Eti-Osa
                        </option>
                    </select>
                </div>

                Name of Specialist
                <br />
                <br />
                <div class="form-group ">
                    <label class="control-label requiredField" for="SPname">
                        First Name
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <input class="form-control" id="SPname" name="SPname" type="text"/>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="SPname1">
                        Last Name
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <input class="form-control" id="SPname1" name="SPname1" type="text"/>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="PracticeNum">
                        Practice Number of Specialist
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <input class="form-control" id="PracticeNum" name="PracticeNum" type="text"/>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button class="btn btn-success" name="submit" type="submit">
                            Back
                        </button> 
                        <button class="btn btn-success" name="submit" type="submit">
                            Next
                        </button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>