<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->		
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form method="post" th:action="@{/account/}" th:object="${employee}" id="registration-form">
             <div class="form-group">
              <label class="control-label requiredField" for="CompName">
               Company's Name
               <span class="asteriskField">
                    *
               </span> 
              </label>
                 <input type="text" th:field="*{company}" id="company" class="form-control" />
                 <label th:if="${#fields.hasErrors('company')}" th:errors="*{company}" id="company-error" class="error" for="company">Company Error.</label>
                 </div>
             <div class="form-group ">
              <label class="control-label requiredField" for="IncorporationNumber">
               Incorporation Number
               <span class="asteriskField">
                    *
               </span>
              </label>
                 <input type="text" th:field="*{incNumber}" class="form-control" id="inc" />
                 <label th:if="${#fields.hasErrors('incNumber')}" th:errors="*{incNumber}" id="inc-error" class="error" for="inc">Company Error.</label>
             </div>
             <div class="form-group ">
              <label class="control-label " for="TINNumber">
               TIN Number
              </label>
                 <input type="text" th:field="*{tinNum}" class="form-control" name="tin_num" id="tin_num" />
                 <label th:if="${#fields.hasErrors('tinNum')}" th:errors="*{tinNum}" id="tin_num" class="error" for="tin_num">Company Error.</label>
             </div>

             <div class="form-group ">
              <label class="control-label requiredField" for="Year">
               What is the year of company incorporation
               <span class="asteriskField">
                    *
               </span>
              </label>
              <select class="form-control" id="Year" name="Year" type="number">
                  <option>2001</option>
              </select>
             </div>

             <div class="row">
             <div class="form-group col-xs-6" id="Email">
              <label class="control-label requiredField" for="email">
               Email
               <span class="asteriskField">
                    *
               </span>
              </label>
                 <input type="email" th:field="*{email}" class="form-control" id="email" />
                 <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="email" class="error" for="email">Company Error.</label>
             </div>

             <div class="form-group col-xs-6" id="MobileN">
              <label class="control-label requiredField" for="phone_number">
               Mobile Number
               <span class="asteriskField">
                    *
               </span>
              </label>
              <input type="tel" th:field="*{phoneNumber}" class="form-control" id="phone_number" />
                 <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" id="phone_number" class="error" for="phone_number">Company Error.</label>
              </div>
              </div>

             <div class="row">
             <div class="form-group col-xs-6" id="State">
              <label class="control-label requiredField" for="State">
               State
               <span class="asteriskField">
                    *
               </span>
              </label>
              <select class="select form-control" id="State" name="State">
                 <option selected="selected" value="">
               </option>
               <option value="Lagos">
                    Lagos
               </option>
               </select>
             </div>

             <div class="form-group col-xs-6" id="LGA">
              <label class="control-label requiredField" for="LocalGovernment">
               Local Government
               <span class="asteriskField">
                    *
               </span>
              </label>
              <select class="select form-control" id="LocalGovernment" name="LocalGovernment">
                 <option selected="selected" value="">
               </option>
               <option value="Eti-Osa">
                    Eti-Osa
               </option>
               </select>
             </div>
            </div>

                 
             <div class="form-group " >
             <p id="Address"> Address 
               <span class="asteriskField">
                    *
               </span> </p>
             </div>

             <div class="form-group ">
              <label class="control-label requiredField" for="house_no">
               House/Block No
              </label>
              <input type="number" th:field="*{houseNo}" class="form-control" id="house_no" />
              <label th:if="${#fields.hasErrors('houseNo')}" th:errors="*{houseNo}" id="house_no" class="error" for="house_no">Company Error.</label>
             </div>

              <div class="form-group ">
              <label class="control-label requiredField" for="street_name">
               Street Name
               <span class="asteriskField">
                    *
               </span>
              </label>
              <input type="text" th:field="*{address}" class="form-control" name="street_name" id="house_no" />
              <label th:if="${#fields.hasErrors('address')}" th:errors="*{address}" id="street_name" class="error" for="street_name">Company Error.</label>
             </div>

             <div class="form-group" id="Next">
              <div>
               <button class="btn btn-success pull-right" name="Next" type="submit">
                    Next
               </button>
              </div>
             </div>
            </form>
       </div>
     </div>
    


</body>
</html>