<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->		
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form method="post" th:action="@{/account/}" th:object="${employee}" id="registration-form">
             <div class="form-group">
              <label class="control-label requiredField" for="CompName">
               Company's Name
               <span class="asteriskField">
                    *
               </span> 
              </label>
                 <input type="text" th:field="*{company}" id="company" class="form-control" />
                 <label th:if="${#fields.hasErrors('company')}" th:errors="*{company}" id="company-error" class="error" for="company">Company Error.</label>
                 </div>
             <div class="form-group ">
              <label class="control-label requiredField" for="IncorporationNumber">
               Incorporation Number
               <span class="asteriskField">
                    *
               </span>
              </label>
                 <input type="text" th:field="*{incNumber}" class="form-control" id="inc" />
                 <label th:if="${#fields.hasErrors('incNumber')}" th:errors="*{incNumber}" id="inc-error" class="error" for="inc">Company Error.</label>
             </div>
             <div class="form-group ">
              <label class="control-label " for="TINNumber">
               TIN Number
              </label>
                 <input type="text" th:field="*{tinNum}" class="form-control" name="tin_num" id="tin_num" />
                 <label th:if="${#fields.hasErrors('tinNum')}" th:errors="*{tinNum}" id="tin_num" class="error" for="tin_num">Company Error.</label>
             </div>

             <div class="form-group ">
              <label class="control-label requiredField" for="Year">
               What is the year of company incorporation
               <span class="asteriskField">
                    *
               </span>
              </label>
              <select class="form-control" id="incYear" th:field="*{incYear}" placeholder="YYYY">
                 <option selected="selected" value="">Select an option</option>
                  <option th:each="i:${#numbers.sequence(1900, 2030)}" th:text="${i}" th:value="${i}">Year</option>
              </select>
             </div>

             <div class ="row">
              <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" id="Email">
              <label class="control-label requiredField" for="email">
               Email
               <span class="asteriskField">
                    *
               </span>
              </label>
                 <input type="email" th:field="*{email}" class="form-control" id="email" />
                 <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="email" class="error" for="email">Company Error.</label>
             </div>

             <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" id="MobileN">
              <label class="control-label requiredField" for="phone_number">
               Mobile Number
               <span class="asteriskField">
                    *
               </span>
              </label>
              <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" />
                 <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" id="phoneNumber" class="error" for="phone_number">Company Error.</label>
              </div>
             </div>

             <div class="row">
             <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" id="State">
              <label class="control-label requiredField" for="State">
               State
               <span class="asteriskField">
                    *
               </span>
              </label>
              <select class="select form-control" id="state" th:field="*{state}">
                 <option selected="selected" value="">Select an option</option>
                 <option th:each="state : ${states}" th:text="${state.name}" th:value="${state.id}">State</option>
              </select>
             </div>

             <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" id="lga">
              <label class="control-label requiredField" for="lga">
               Local Government
               <span class="asteriskField">
                    *
               </span>
              </label>
              <select class="select form-control" id="province" th:field="*{province}" th:value="*{province}">
                 <option selected="selected" value="">Select an option</option>
                 <option th:each="province : ${locals}" th:text="${province.name}" th:value="${province.id}">LGA</option>
               </select>
             </div>
             </div>
             
            <div class="row">
             <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12" id="Region">
              <label class="control-label requiredField" for="Region">
               Region
               <span class="asteriskField">
                    *
               </span>
              </label>
              <select class="select form-control" id="region" th:field="*{region}" th:value="*{region}">
                 <option selected="selected" value="">Select an option</option>
                 <option th:each="region : ${regions}" th:text="${region.name}" th:value="${region.id}">Region</option>
               </select>
             </div>
        
             <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label class="control-label requiredField" for="branch">
               Branch
               <span class="asteriskField">
                    *
               </span>
              </label>
              <select class="select form-control" id="branch" th:field="*{branch}" th:value="*{branch}">
                 <option selected="selected" value="">Select an option</option>
                 <option th:each="branch : ${branch}" th:text="${branch.name}" th:value="${branch.id}">Branch</option>
               </select>
             </div>
             </div>
            

             <div class="form-group " >
             <p id="Address"> Address 
               <span class="asteriskField">
                    *
               </span> </p>
             </div>

             <div class="form-group ">
              <label class="control-label requiredField" for="house_no">
               House/Block No
              </label>
              <input type="number" th:field="*{houseNo}" class="form-control" id="houseNo" min="1" />
              <label th:if="${#fields.hasErrors('houseNo')}" th:errors="*{houseNo}" id="house_no" class="error" for="house_no">Company Error.</label>
             </div>

              <div class="form-group ">
              <label class="control-label requiredField" for="street_name">
               Street Name
               <span class="asteriskField">
                    *
               </span>
              </label>
              <input type="text" th:field="*{streetName}" class="form-control" id="streetName" />
              <label th:if="${#fields.hasErrors('streetName')}" th:errors="*{streetName}" id="streetName" class="error" for="street_name">Company Error.</label>
             </div>
                
             <div class="form-group">
              <label class="control-label requiredField" for="Emoulment">
               Total Staff Emolument ('&#8358;')
               <span class="text-danger">
                    *
               </span>
              </label>
              <input th:field="*{staffEmulment}" class="form-control currency" id="staffEmulment" type="number" min="100" />
             </div>
                
            <div class="form-group">
                <label class="control-label requiredField">
                    Class of Business
                    <span class="asteriskField">
                          *
                    </span>
                </label>
                <div class="">
                   <div class="radio">
                       <label>
                         <input type="radio" th:field="*{type}" id="type" value="Enterprise venture" />
                         Enterprise venture
                       </label>
                   </div>
                   <div class="radio">
                        <label>
                            <input type="radio" th:field="*{type}" id="type" value="Partnership" />
                            Partnership
                        </label>
                   </div>
                   <div class="radio">
                       <label>
                            <input type="radio" th:field="*{type}" id="type" value="MDA"/>
                            MDA
                       </label>
                   </div>
                   <div class="radio">
                       <label>
                           <input type="radio" th:field="*{type}" id="type" value="Public Sector" />
                           Public Sector
                       </label>
                   </div>
                   <div class="radio">
                       <label>
                           <input type="radio" th:field="*{type}" id="type" value="PLC" />
                           PLC
                       </label>
                   </div>
                   <div class="radio">
                       <label>
                           <input type="radio" th:field="*{type}" id="type" value="LTD" />
                           LTD
                       </label>
                   </div>
               </div>
            </div>
        <div class="form-group ">
            <label class="control-label requiredField" for="select">
                Please select
                <span class="asteriskField">
                     *
                </span>
            </label>
            <select class="select form-control" id="sector" th:field="*{sector}" multiple="true" size="12">
                <option value="Construction">Construction</option>
                <option value="MDAs">MDAs</option>
                <option value="Manufacturing">Manufacturing</option>
                <option value="Banking and finance">Banking and finance</option>
                <option value="Mining">Mining</option>
                <option value="Aviation">Aviation</option>
                <option value="Telecom">Telecom</option>
                <option value="Energy">Energy</option>
                <option value="Agriculture">Agriculture</option>
                <option value="Oil and Gas">Oil and Gas</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Technology">Technology</option>
            </select>
            <span class="help-block" id="hint_select">
             Press Ctrl for multiple select
            </span>
        </div>
        <div class="form-group ">
            <label class="control-label " for="name">
             Others please specify
            </label>
            <input type="text" th:field="*{otherSector}" id="otherSector" class="form-control" />
         <span class="help-block" id="hint_name">
          Separate with comma. e.g, item1, item2
         </span>
        </div>

             <div class="form-group pull-right" id="Next">
              <div>
               <button class="btn btn-success" type="submit">
                    Next
               </button>
              </div>
             </div>
            </form>
       </div>
     </div>
</body>
</html>