<!DOCTYPE html>
<html>
<head>
     <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>

<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="pull-right">
                <button class="btn btn-link " name="submit" type="submit">
                     Home
                </button>
                <button class="btn btn-link " name="submit" type="submit">
                     Logout
                </button> 
            </div>
            <br />
            <i>
                Field with 
                <span class="asteriskField">
                    *
                </span>
                are compulsary 
            </i> 
            <br />
            <br />
            <form method="post" action="" id="attestation">
                <p class="comp-title"> ATTESTATION </P> 
                <br />
                <div class="row">
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			<span class="asteriskField">
                            *
                        </span>
                        Signature
			<input type="file" name="Signature" id="Signature">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span class="asteriskField">
                            *
                        </span>
                        Stamp
                        <input type="file" name="Stamp" id="Stamp">
                    </div>
                </div>
			
                <div class="form-group ">
                    <label class="control-label requiredField" for="name">
                        <br />
                        <br />
                        <span class="asteriskField">
                            *
                        </span>
                        Name
                    </label>
                    <input class="form-control" id="name" name="name" type="text"/>
                </div>
                <div class="form-group" id="div_checkbox">
                    <div class=" ">
                        <label class="checkbox-inline">
                             <input name="checkbox" type="checkbox" value="I agree to NSITF Terms and Conditions and certify that the above particulars are correct"/>
                             I agree to NSITF <a href="#"> <span class="asteriskField"> Terms and Conditions </span> </a> and certify that the above particulars are correct 
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button class="btn btn-success " name="submit" type="submit">
                             Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>