<!DOCTYPE html>
<html>
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>

<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <small> <i> Fields with <span class="asteriskField">*</span> are compulsary </i> </small>
            <div class="pull-right">
                <button class="btn btn-link " name="submit" type="submit">
                     Logout
                </button>
            </div> 
            <br />
            <br />
		   
            <p class="comp-title">
                EMPLOYEE 
            </p>
		   
            <form method="post" action="" id="EmployeeDetails">
			
                <div class="form-group ">
                    <label class="requiredField" for="fname">
                        <span class="asteriskField">
                            *
                        </span>
                        First Name
                    </label>
                    <input class="form-control " id="fname" name="fname" type="text"/>
                </div>
			 
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="mname">
                            Middle Name
                        </label>
                        <input class="form-control " id="mname" name="mname" type="text"/>
                    </div>
			      
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="Lname">
                            <span class="asteriskField">
                                *
                            </span>
                            Last Name
                        </label>
                     <input class="form-control" id="Lname" name="Lname" type="text"/>
                    </div>
                </div>
			 
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="EmpID">
                            NSITF Employee ID
                        </label>
                        <input class="form-control" id="EmpID" name="EmpID" type="text"/>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label requiredField" for="staffID">
                            <span class="asteriskField">
                                *
                            </span>
                            Staff ID
                        </label>
                        <input class="form-control" id="staffID" name="staffID" type="text"/>
                    </div>
                </div> 
			 
                <div class="form-group ">
                    <label class="control-label requiredField" for="Earnings">
                        <span class="asteriskField">
                            *
                        </span>
                        Earnings of employee at the times of accident (₦)
                    </label>
                    <input class="form-control" id="Earnings" name="Earnings" type="text"/>
                </div> 
                <br />
			 
                <span class="asteriskField">
                    *
                </span> 
                Period in your employment 
                <br />
                <br />
                
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="yrs">
                            Years (yrs)
                        </label>
                        <input class="form-control" id="yrs" name="yrs" type="number" min="0" max="35" />
                    </div>
                    <div class="form-group ccol-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <label class="control-label " for="months">
                            Months (months)
                        </label>
                        <input class="form-control" id="months" name="months" type="number" min="0" max="12" />
                    </div>
                </div> 
                <br />
                
                <div class="form-group">
                    <div class="pull-right">
                        <button class="btn btn-success " name="submit" type="submit">
                             Next
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>