<!DOCTYPE html>
<html>

<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <!-- col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- form -->
            <form method="post" action="" th:object="${particular}" id="registration-form">
                <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12" id="Ownerf">
                    <label class="control-label" for="name">
                        Owner's First Name
                    </label>
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control" />
                    <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" id="firstName-error" class="error" for="name"></label>
                </div>
                <!-- ./form-group -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12" id="Ownerl">
                    <label class="control-label" for="lastName">
                        Owner's Last Name
                    </label>
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control" />
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" id="lastName-error" class="error" for="lastName"></label>
                </div>
                </div>
                <!-- ./form-group -->
                
                <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12" id="Ownerp">
                    <label class="control-label" for="text">
                        Position
                    </label>
                    <input type="text" th:field="*{position}" id="position" class="form-control" />
                    <label th:if="${#fields.hasErrors('position')}" th:errors="*{position}" id="position-error" class="error" for="position"></label>
                </div>
                <!-- ./form-group -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12" id="Ownere">
                    <label class="control-label requiredField" for="email">
                        Email
                    </label>
                    <input type="email" th:field="*{email}" id="email" class="form-control" />
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="email-error" class="error" for="email"></label>
                </div>
                </div>
                <!-- ./form-group -->
                <div class="form-group" id="ModeID">
                    <label class="control-label" for="select">
                        Mode of Identification
                    </label>
                    <select class="select form-control" id="modeOfId" th:field="*{modeOfId}">
                        <option value=""> </option>
                        <option value="license"> Driver License </option>
                        <option value="national"> National ID </option>
                        <option value="passport"> International Passport </option>
                    </select>
                    <label th:if="${#fields.hasErrors('modeOfId')}" th:errors="*{modeOfId}" id="modeOfId-error" class="error" for="modeOfId"></label>
                </div>
                
                <div class="row license box hidden" id="license">
                    <div class="form-group col-xs-6">
                            <label class="control-label requiredField indentify" for="licenseNumber">
                                Specify Driver's License Number
                            </label>
                            <input class="form-control" th:field="*{licenseNumber}" id="licenseNumber" name="licenseNumber" type="text" />
                            <label th:if="${#fields.hasErrors('licenseNumber')}" th:errors="*{licenseNumber}" id="licenseNumber-error" class="error" for="licenseNumber"></label>
                    </div>
                    <div class="form-group col-xs-6" >
                        <label class="control-label requiredField" for="expiryDate">
                            <span class="asteriskField">
                                    *
                            </span>
                            Expiry Date
                        </label>
                        <input class="form-control" th:field="*{expiryDate}" id="expiryDate" type="date" />
                        <label th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}" id="expiryDate-error" class="error" for="expiryDate"></label>
                    </div>
                </div>     
             
                <!-- ./form-group -->
                <div class="form-group">
                    <label class="control-label" for="phoneNumber">
                        Mobile Number
                    </label>
                    <input type="text" th:field="*{phoneNumber}" id="tel" class="form-control" />
                    <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" id="phoneNumber-error" class="error" for="phoneNumber"></label>
                </div>
                
                <div class="row">
         <div class="form-group col-lg-6 col-md-6 col-sm-6" id="FName">
          <label class="control-label requiredField" for="name">
           First Name
           <span class="asteriskField">
                *
           </span>
          </label>
          <input type="text" th:field="*{ownersFirstName}" id="first-name" class="form-control" />
          <label th:if="${#fields.hasErrors('ownersFirstName')}" th:errors="*{ownersFirstName}" id="ownersFirstName-error" class="error" for="ownersFirstName"></label>
         </div>
         <div class="form-group col-lg-6 col-md-6 col-sm-6" id="OtherN">
          <label class="control-label requiredField" for="name1">
           Other Names
           <span class="asteriskField">
                *
           </span>
          </label>
          <input type="text" th:field="*{ownersOtherName}" id="other-name" class="form-control" />
          <label th:if="${#fields.hasErrors('ownersOtherName')}" th:errors="*{ownersOtherName}" id="ownersOtherName-error" class="error" for="ownersOtherName"></label>
         </div>
         </div>
         
         <div class="row">
         <div class="form-group col-lg-6 col-md-6 col-sm-6" id="PSTN">
          <label class="control-label requiredField" for="Position">
           Position
           <span class="asteriskField">
                *
           </span>
          </label>
          <input type="text" th:field="*{ownersPosition}" id="position" class="form-control" />
          <label th:if="${#fields.hasErrors('ownersPosition')}" th:errors="*{ownersPosition}" id="ownersPosition-error" class="error" for="ownersPosition"></label>
         </div>
         <div class="form-group col-lg-6 col-md-6 col-sm-6" id="SID">
          <label class="control-label requiredField" for="StaffID">
           Staff ID
           <span class="asteriskField">
                *
           </span>
          </label>
          <input type="text" th:field="*{staffID}" id="StaffID" class="form-control" />
          <label th:if="${#fields.hasErrors('staffID')}" th:errors="*{staffID}" id="staffID-error" class="error" for="staffID"></label>
         </div>
         </div>    
             
         <div class="form-group">
          <!-- <label class="control-label requiredField">
           Check all that apply
           <span class="asteriskField">
                *
           </span>
          </label> -->
          <div class="row">
          <div id="sign col-lg-6 col-md-6 col-sm-6">
           Signature
           <span class="asteriskField">
                *
           </span>
            <input type="file" name="signature" id="signature" />
          <span class="help-block" id="hint_name">
           *Minimum 200*200px <br /> *Maximum size 200kb <br /> *Supports only JPEG, PNG and GIF
          </span>
          </div>

          <div id="offstamp col-lg-6 col-md-6 col-sm-6">
          Official stamp
           <span class="asteriskField">
                *
           </span>
           <input type="file" name="stamp" id="stamp" />
          <span class="help-block" id="hint_name">
           *Minimum 200*200px <br /> *Maximum size 200kb <br /> *Supports only JPEG, PNG and GIF
          </span>
          </div>
          </div>
          <br />
          <br />
          <div class="">
           <div class="checkbox">
                <label>
                    <input th:field="*{agreement}" type="checkbox" value="I agree" />
                    I agree to NSITF Terms and Conditions and certify that the above particulars are correct
                </label>
           </div>
          </div>
        </div>
                <!-- ./form-group -->
                <div class="form-group">
                    <div id="downb" class="pull-right">
                        <a class="btn btn-success" href="/account">
                            Back
                        </a>
                        <button class="btn btn-success" name="Next" type="submit">
                            Next
                        </button>
                    </div>
                </div>
                <!-- ./form-group -->
            </form>
            <!-- ./form -->
        </div>
        <!-- ./col -->
    </div>
</body>
</html>
