<!DOCTYPE html>
<html>

<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <!-- col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <!-- form -->
            <form method="post" th:action="@{/account/fourth-page}" th:object="${particular}" id="registration-form">
                <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12" id="Ownerf">
                    <label class="control-label" for="name">
                        Owner's First Name
                    </label>
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control" />
                    <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" id="firstName-error" class="error" for="name"></label>
                </div>
                <!-- ./form-group -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12" id="Ownerl">
                    <label class="control-label" for="lastName">
                        Owner's Last Name
                    </label>
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control" />
                    <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" id="lastName-error" class="error" for="lastName"></label>
                </div>
                </div>
                <!-- ./form-group -->
                
                <div class="row">
                <div class="form-group col-md-6 col-sm-6 col-xs-12" id="Ownerp">
                    <label class="control-label" for="text">
                        Position
                    </label>
                    <input type="text" th:field="*{position}" id="position" class="form-control" />
                    <label th:if="${#fields.hasErrors('position')}" th:errors="*{position}" id="position-error" class="error" for="position"></label>
                </div>
                <!-- ./form-group -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12" id="Ownere">
                    <label class="control-label requiredField" for="email">
                        Email
                    </label>
                    <input type="email" th:field="*{email}" id="email" class="form-control" />
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" id="email-error" class="error" for="email"></label>
                </div>
                </div>
                <!-- ./form-group -->
                <div class="form-group" id="ModeID">
                    <label class="control-label" for="select">
                        Mode of Identification
                    </label>
                    <select class="select form-control" id="select" th:field="*{modeOfId}">
                        <option value=""> </option>
                        <option value="license"> Driver License </option>
                        <option value="national"> National ID </option>
                        <option value="passport"> International Passport </option>
                    </select>
                    <label th:if="${#fields.hasErrors('modeOfId')}" th:errors="*{modeOfId}" id="modeOfId-error" class="error" for="modeOfId"></label>
                </div>
                
                    <div class="row license box" id="license">
                    <div class="form-group col-xs-6">
                            <label class="control-label requiredField" for="licenseNumber">
                            Specify Driver"s License Number
                            </label>
                                    <input class="form-control" th:field="*{licenseNumber}"id="licenseNumber" name="licenseNumber" type="text"/>
                                    <label th:if="${#fields.hasErrors('licenseNumber')}" th:errors="*{licenseNumber}" id="licenseNumber-error" class="error" for="licenseNumber"></label>
                    </div>
                    <div class="form-group col-xs-6" >
                            <label class="control-label requiredField" for="licenseNumberDate">
                            <span class="asteriskField">
                                    *
                            </span>
                            Expiry Date
                            </label>
                                    <input class="form-control" th:field="*{licenseNumberDate}" id="licenseNumberDate" name="licenseNumberDate" type="date" />
                                    <label th:if="${#fields.hasErrors('licenseNumberDate')}" th:errors="*{licenseNumberDate}" id="licenseNumberDate-error" class="error" for="licenseNumberDate"></label>
                    </div>
                    </div>

                    <div class="row national box" id="national">
                    <div class="form-group col-xs-6">
                            <label class="control-label requiredField" for="nationalId">
                            Specify National ID Number
                            </label>
                                    <input class="form-control" th:field="*{nationalId}" id="nationalId" name="nationalId" type="text"/>
                                    <label th:if="${#fields.hasErrors('nationalId')}" th:errors="*{nationalId}" id="nationalId-error" class="error" for="nationalId"></label>
                    </div>
                    <div class="form-group col-xs-6">
                            <label class="control-label requiredField" for="nationalIdDate">
                            <span class="asteriskField">
                                    *
                            </span>
                            Expiry Date
                            </label>
                                    <input class="form-control" th:field="*{nationalIdDate}" id="nationalIdDate" name="nationalIdDate" type="date"/>
                                    <label th:if="${#fields.hasErrors('nationalIdDate')}" th:errors="*{nationalIdDate}" id="nationalIdDate-error" class="error" for="nationalIdDate"></label>
                    </div>
                    </div>

                    <div class="row passport box" id="passport">
                    <div class="form-group col-xs-6">
                        <label class="control-label requiredField" for="passport">
                        Specify International Passport Number
                        </label>
                        <input class="form-control" th:field="*{passport}" id="passport" name="passport" type="text"/>
                        <label th:if="${#fields.hasErrors('passport')}" th:errors="*{passport}" id="passport-error" class="error" for="passport"></label>
                    </div>
                    <div class="form-group col-xs-6">
                        <label class="control-label requiredField" for="passportDate">
                        <span class="asteriskField">
                                *
                        </span>
                            <br /> Expiry Date
                        </label>
                        <input class="form-control" th:field="*{passportDate}" id="passportDate" name="passportDate" type="date"/>
                        <label th:if="${#fields.hasErrors('passportDate')}" th:errors="*{passportDate}" id="passportDate-error" class="error" for="passportDate"></label>
                    </div>
                    </div>
                    
                
             
                <!-- ./form-group -->
                <div class="form-group">
                    <label class="control-label" for="phoneNumber">
                        Mobile Number
                    </label>
                    <input type="text" th:field="*{phoneNumber}" id="tel" class="form-control" />
                    <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" id="phoneNumber-error" class="error" for="phoneNumber"></label>
                </div>
                <!-- ./form-group -->
                <div class="form-group">
                    <div id="downb pull-right">
                        <button class="btn btn-success" name="Back" type="submit">
                            Back
                        </button>
                        <button class="btn btn-success" name="Next" type="submit">
                            Next
                        </button>
                    </div>
                </div>
                <!-- ./form-group -->
            </form>
            <!-- ./form -->
        </div>
        <!-- ./col -->
    </div>
    
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript">
$(document).ready(function(){
    $("select").change(function(){
        $(this).find("option:selected").each(function(){
            var optionValue = $(this).attr("value");
            if(optionValue){
                $(".box").not("." + optionValue).hide();
                $("." + optionValue).show();
            } else{
                $(".box").hide();
            }
        });
    }).change();
});
</script>

</body>
</html>
