<!DOCTYPE html>
<html>

<head>
    
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
    
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
    <div class="col-md-3 col-lg-3 col-xs-12"> </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">PREVIEW</div>
		
            <div class="panel-body">
        <form method="post" th:action="@{/account/save}">
            <table class="table table-condensed">
                <thead class="navbar navbar-default">
                    <tr>
                        <th colspan="2">
                            Particulars for business(for MDAs, public and private companies)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-uppercase">employer name</th>
                        <td class="text-uppercase" th:text="${company.company}">Test</td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">incorporation number</th>
                        <td class="text-uppercase" th:text="${company.incNumber}"></td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">tin number</th>
                        <td class="text-uppercase" th:text="${company.tinNum}"></td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">e-mail</th>
                        <td class="text-uppercase" th:text="${company.email}"></td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">mobile number</th>
                        <td class="text-uppercase" th:text="${company.phoneNumber}"></td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">city</th>
                        <td class="text-uppercase" th:text="${company.state}"></td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">local government</th>
                        <td class="text-uppercase" th:text="${company.province}"></td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">address</th>
                        <td class="text-uppercase" th:text="${company.houseNo + ' ' + company.streetName}"></td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">year of incorporation</th>
                        <td class="text-uppercase">test</td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">Region</th>
                        <td class="text-uppercase" th:text="${company.region}"></td>
                    </tr>
                    <tr>
                        <th class="text-uppercase">Branch</th>
                        <td class="text-uppercase" th:text="${company.branch}"></td>
                    </tr>
                </tbody>
            </table> 
            <table class="table table-condensed">
                <thead class="navbar navbar-default">
                    <tr>
                        <th colspan="2">
                            Total Staffs Emoluments
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-uppercase" th:text="${company.staffEmulment}"></td>
                    </tr>
                </tbody>
            </table> 
            <table class="table table-condensed">
                <thead class="navbar navbar-default">
                    <tr>
                        <th colspan="2">
                            Business sector categories
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-uppercase">class of business</th>
                        <td class="text-uppercase" th:text="${company.type}"></td>
                    </tr>
                    <tr th:switch="${company.otherSector != null}">
                        <th class="text-uppercase">year of incorporation</th>
                        <td th:case="#{false}" class="text-uppercase" th:text="${company.sector + ',' + company.otherSector}"></td>
                        <td th:case="#{true}" class="text-uppercase" th:text="${company.sector}"></td>
                    </tr>
                </tbody>
            </table>
            
            <table class="table table-condensed">
                <thead class="navbar navbar-default">
                    <tr>
                        <th colspan="2">
                            UPLOADS
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       <th class="text-uppercase">Signature or thumb print</th>
                        <td class="text-uppercase"><img th:src="@{'data:image/jpeg;base64,'+${images[0]}}" alt="image" class="img-thumbnail img-responsive" width="300px" /></td> 
                    </tr>
                    <tr>
                        <th class="text-uppercase">official stamp</th>
                        <td class="text-uppercase"><img th:src="@{'data:image/jpeg;base64,'+${images[1]}}" alt="image" class="img-thumbnail img-responsive" width="300px" /></td>
                    </tr>
                </tbody>
            </table>
            
            <div class="form-group pull-right">
                <div id="Next">
                   <button class="btn btn-success" name="Next" type="submit">
                        Save
                   </button>
                </div>
            </div>
        </form>
            </div> </div> </div>
</div>
    
    <div class="footer row ">
        <div class="container-fluid">
            © 2015 Copyright: <a href="nsitf.gov.ng"> National Social Insurance Trust Fund </a>
        </div>
    </div>
</body>
</html>
