<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">		
    <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <form method="post" th:action="@{/account/third-page}" th:object="${businessClass}" id="registration-form">
        <div class="form-group">
            <label class="control-label requiredField">
                Class of Business
                <span class="asteriskField">
                      *
                </span>
            </label>
            <div class="">
               <div class="radio">
                   <label>
                     <input type="radio" th:field="*{type}" id="type" value="Enterprise venture" />
                     Enterprise venture
                   </label>
               </div>
               <div class="radio">
                    <label>
                        <input type="radio" th:field="*{type}" id="type" value="Partnership" />
                        Partnership
                    </label>
               </div>
               <div class="radio">
                   <label>
                        <input type="radio" th:field="*{type}" id="type" value="MDA"/>
                        MDA
                   </label>
               </div>
               <div class="radio">
                   <label>
                       <input type="radio" th:field="*{type}" id="type" value="Public Sector" />
                       Public Sector
                   </label>
               </div>
               <div class="radio">
                   <label>
                       <input type="radio" th:field="*{type}" id="type" value="PLC" />
                       PLC
                   </label>
               </div>
               <div class="radio">
                   <label>
                       <input type="radio" th:field="*{type}" id="type" value="LTD" />
                       LTD
                   </label>
               </div>
           </div>
        </div>
        <div class="form-group ">
            <label class="control-label requiredField" for="select">
                Please select
                <span class="asteriskField">
                     *
                </span>
            </label>
            <select class="select form-control" id="sector" th:field="*{sector}" multiple="multiple">
                <option value="Construction">Construction</option>
                <option value="MDAs">MDAs</option>
                <option value="Manufacturing">Manufacturing</option>
                <option value="Banking and finance">Banking and finance</option>
                <option value="Mining">Mining</option>
                <option value="Aviation">Aviation</option>
                <option value="Telecom">Telecom</option>
                <option value="Energy">Energy</option>
                <option value="Agriculture">Agriculture</option>
                <option value="Oil and Gas">Oil and Gas</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Technology">Technology</option>
            </select>
            <span class="help-block" id="hint_select">
             Press Ctrl for multiple select
            </span>
        </div>
        <div class="form-group ">
            <label class="control-label " for="name">
             Others please specify
            </label>
            <input type="text" th:field="*{otherSector}" id="otherSector" class="form-control" />
         <span class="help-block" id="hint_name">
          Separate with comma. e.g, item1, item2
         </span>
        </div>
        <div class="form-group">
         <div id="Next">
          <button class="btn btn-primary " name="Next" type="submit">
               Next
          </button>
         </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>