<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">		
    <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <form method="post" th:action="@{/account/third-page}" th:object="${businessClass}" id="thirdpage">
        <div class="form-group">
            <label class="control-label requiredField">
                Class of Business
                <span class="asteriskField">
                      *
                </span>
            </label>
            <div class="">
               <div class="checkbox" id="checkbox">
                   <label class="checkbox">
                       <input type="radio" th:field="*{type}" id="type" value="Enterprise venture"/>
                      Enterprise venture
                   </label>
               </div>
               <div class="checkbox">
                   <label class="checkbox">
                       <input type="radio" th:field="*{type}" id="type" value="Partnership"/>
                       Partnership
                   </label>
               </div>
               <div class="checkbox">
                   <label class="checkbox">
                        <input type="radio" th:field="*{type}" id="type" value="MDA"/>
                        MDA
                   </label>
               </div>
               <div class="checkbox">
                   <label class="checkbox">
                       <input type="radio" th:field="*{type}" id="type" value="Public Sector" />
                       Public Sector
                   </label>
               </div>
               <div class="checkbox">
                   <label class="checkbox">
                       <input type="radio" th:field="*{type}" id="type" value="PLC" />
                       PLC
                   </label>
               </div>
               <div class="checkbox">
                   <label class="checkbox">
                       <input type="radio" th:field="*{type}" id="type" value="LTD" />
                       LTD
                   </label>
               </div>
           </div>
        </div>
        <div class="form-group ">
            <label class="control-label requiredField" for="select">
                Please select
                <span class="asteriskField">
                     *
                </span>
            </label>
            <select class="select form-control" id="select" th:field="*{sector}">
                <option value="Aviation">
                  Aviation
                </option>
            </select>
            <span class="help-block" id="hint_select">
             Press Ctrl for multiple select
            </span>
        </div>
        <div class="form-group ">
            <label class="control-label " for="name">
             Others please specify
            </label>
            <input type="text" th:field="*{otherSector}" id="otherSector" class="form-control" />
         <span class="help-block" id="hint_name">
          Separate with comma. e.g, item1, item2
         </span>
        </div>
        <div class="form-group pull-right">
         <div id="Next">
          <button class="btn btn-success " name="Next" type="submit">
               Next
          </button>
         </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>