<!DOCTYPE html>
<html>

<head>
    <!--/*/ <th:block th:include="fragments/header_inc :: head"></th:block> /*/-->
</head>

<body>
    <div class="container">
        <!--/*/ <th:block th:include="fragments/header_left_sidebar :: navbar"></th:block> /*/-->
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <br />
            <br />
            <div class="pull-right">
                <button class="btn btn-link" name="submit" type="submit">
                    Home
                </button>
                <button class="btn btn-link" name="submit" type="submit">
                    Logout
                </button> 
            </div> 
            <br /> 
            <br />
            <p class="comp-title"> 
                HEALTH STATUS 
            </p>
            <br />
            <form method="post" action="/second-page" th:object="${var}" id="healthStatus2">
                <div class="form-group" id="div_radio">
                    <label class="control-label " for="radio">
                        Have you enjoyed any First Aid Treatment?
                    </label>
                    <div class="">
                        <label class="radio-inline">
                            <input name="radio" type="radio" value="Yes"/>
                            Yes
                        </label>
                        <label class="radio-inline">
                            <input name="radio" type="radio" value="No"/>
                            No
                        </label>
                    </div>
                </div>
                <br />
                <div class="form-group ">
                    <label class="control-label requiredField" for="dateOfInjury">
                        Date on which the injury/disease/death was reported to the Employer
                    </label>
                    <input class="form-control" th:field="*{dateOfInjury}" id="dateOfInjury" name="dateOfInjury" type="text"/>
                    <label th:if="${#fields.hasErrors('dateOfInjury')}" th:errors="*{dateOfInjury}" id="dateOfInjury-error" class="error" for="dateOfInjury"></label>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="dateOfTreat">
                        Date of first treatment
                    </label>
                    <input class="form-control" th:field="*{dateOfTreat}" id="dateOfTreat" name="dateOfTreat" type="text"/>
                    <label th:if="${#fields.hasErrors('dateOfTreat')}" th:errors="*{dateOfTreat}" id="dateOfTreat-error" class="error" for="dateOfTreat"></label>
                </div>
                <br />
                <p class="comp-title"> 
                    HEALTH PROVIDER 
                </p>
                <br />
                <div class="form-group ">
                    <label class="control-label requiredField" for="hospital">
                        Hospital
                    </label>
                    <input class="form-control" th:field="*{hospital}" id="hospital" name="hospital" type="text"/>
                    <label th:if="${#fields.hasErrors('hospital')}" th:errors="*{hospital}" id="hospital-error" class="error" for="hospital"></label>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="houseNumber">
                        House Number
                    </label>
                    <input class="form-control" th:field="*{houseNumber}" id="houseNumber" name="houseNumber" type="text"/>
                    <label th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}" id="houseNumber-error" class="error" for="houseNumber"></label>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="streetNumber">
                        Street Number
                    </label>
                    <input class="form-control" th:field="*{streetNumber}" id="streetNumber" name="streetNumber" type="text"/>
                    <label th:if="${#fields.hasErrors('streetNumber')}" th:errors="*{streetNumber}" id="streetNumber-error" class="error" for="streetNumber"></label>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="state">
                        State
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <select class="select form-control" th:field="*{state}" id="state" name="state">
                        <option selected="selected" value="">Select an option</option>
                        <option th:each="state : ${states}" th:text="${state.name}" th:value="${state.id}">State</option>
                    </select>
                    <label th:if="${#fields.hasErrors('state')}" th:errors="*{state}" id="state-error" class="error" for="state"></label>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="province">
                        Local Government
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <select class="select form-control" th:field="*{province}" id="province" name="province">
                        <option selected="selected" value="">Select an option</option>
                        <option th:each="local : ${locals}" th:text="${local.name}" th:value="${local.id}">LGA</option>
                    </select>
                    <label th:if="${#fields.hasErrors('province')}" th:errors="*{province}" id="province-error" class="error" for="province"></label>
                </div>

                Name of Specialist
                <br />
                <br />
                <div class="form-group ">
                    <label class="control-label requiredField" for="medicFirstName">
                        First Name
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <input class="form-control" th:field="*{medicFirstName}" id="medicFirstName" name="medicFirstName" type="text"/>
                    <label th:if="${#fields.hasErrors('medicFirstName')}" th:errors="*{medicFirstName}" id="medicFirstName-error" class="error" for="medicFirstName"></label>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="medicLastName">
                        Last Name
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <input class="form-control" th:field="*{medicLastName}" id="medicLastName" name="medicLastName" type="text"/>
                    <label th:if="${#fields.hasErrors('medicLastName')}" th:errors="*{medicLastName}" id="medicLastName-error" class="error" for="medicLastName"></label>
                </div>
                <div class="form-group ">
                    <label class="control-label requiredField" for="practiceNumber">
                        Practice Number of Specialist
                        <span class="asteriskField">
                             *
                        </span>
                    </label>
                    <input class="form-control" th:field="*{practiceNumber}" id="practiceNumber" name="practiceNumber" type="text"/>
                    <label th:if="${#fields.hasErrors('practiceNumber')}" th:errors="*{practiceNumber}" id="practiceNumber-error" class="error" for="practiceNumber"></label>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button class="btn btn-success" name="submit" type="submit">
                            Back
                        </button> 
                        <button class="btn btn-success" name="submit" type="submit">
                            Next
                        </button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>